<h1>
  Add a new movie
</h1>

<hr>

<form action="/create_movie" >
  <!-- Label and input for title -->
  <div class="form-group">
    <label for="title">
      Title
    </label>

    <input type="text" id="title" name="title" class="form-control">
  </div>

  <!-- Label and input for year -->
  <div class="form-group">
    <label for="year">
      Year
    </label>

    <input type="text" id="year" name="year" class="form-control">
  </div>

  <!-- Label and input for duration -->
  <div class="form-group">
    <label for="duration">
      Duration
    </label>

    <input type="text" id="duration" name="duration" class="form-control">
  </div>

  <!-- Label and input for description -->
  <div class="form-group">
    <label for="description">
      Description
    </label>

    <textarea id="description" name="description" class="form-control" rows="3"></textarea>
  </div>

  <!-- Label and input for image_url -->
  <div class="form-group">
    <label for="image_url">
      Image url
    </label>

    <input type="text" id="image_url" name="image_url" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create movie
  </button>
</form>

<hr>

<a href="/movies">
  Go back
</a>
